html{
    height: auto;
    background-image: linear-gradient(to bottom right,#0003, #0007);
    display: inline-block;
    background-size: 5100px 5500px;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    margin: 0;
    font-family: sans-serif;
    color: #18c58e;
    background-attachment: fixed;
    background-size: cover;
}
form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 40px;

}
h2{
    text-align: center;
    margin:0;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 3em;
    padding: 10px;
}
.formulario_contacto_input{
    padding: 6px 20px;
}
input, textarea {
    width:100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 3px;
    color: #eee;
    margin-top: 4px;

}
textarea {
    min-width: 100%;
    resize: none;
    min-height:102px;
    font-family: sans-serif;
}
.formulario_submit{
    width: 20%;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.checkbox{
    width: auto;

}
.container{
    margin: 0;
    background-color: rgb(144, 192, 180);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
    
.menu.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
}
.menu-oculto{
    display: none;
}
.navbar__item{
    display: flex;
}
.navbar__item a{
    color: inherit;
    text-decoration: none;
}
.navbar__item span{
    font-size: 2rem;
    color: #FFFFFF;
}
.logo-1{
    display: none;

}
.webpage-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-2{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials{
    position: fixed;
    right: 0;
    z-index:9999;
}
.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(60, 255, 0);
    border-radius: 50%;
}
.social:hover{
    background-color: rgb(29, 177, 127)
}
.social img{
    margin: 8px 0 0 10px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
    padding: 20px;   
}
.menu .navbar ul li a{
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    transition: 0.5s;

}
.menu .navbar ul li a:hover{
    color:rgb(29, 177, 127);
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 40px;
}


#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
    
}


.slider{
    display: flex;
    align-items: center;
    background-color: #D7DFE2;
}
.slider-txt{
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1{
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 800;
    padding-right: 20px;
}

.slider-txt p{
    font-size: 18px;
    color: azure;
    padding-right: 20px;
}
.botones{
    margin-top: 50px;
}
.btn-1{
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid rgb(29, 177, 127);
    background-color: rgb(144, 192, 180);
    color:#FFFFFF;
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 20px;
    border-radius: 50px;
    transition: 0.5s;
}
.btn-1:hover{
    color:rgb(29, 177, 127);
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 40px;
}
.slider-img{
    width: 50;
}
.slider-img img{
    margin-right: 225px;
    width: 100%;
    height: 100vh;
}

.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(144, 192, 180);

}
.links h4{
    font-size: 18px;
    color: azure;
    margin-bottom: 25px;
}
.links ul li a{
    font-size: 16px;
    color: azure;
    margin-bottom: 5px;
    display: inline-block;
}

@media(max-width: 901px){


    .menu{
        padding: 20px;
        justify-content: space-between;
    }
    .navbar ul li span{
        display: none;
    }
    .logo-1{
        display: initial;
        width: 100px;
        margin: 0;
    }
    .logo-2{
        width: 0;
    }
    .container{
        margin: 0;
        display: flex;
    
    }
    .material-symbols-outlined{
        margin: 0;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #8edee4;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
        
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header-content{
        padding-top: 30px;
        margin-top: 50px;
    }
    .slider{
        flex-direction: column;
    }
    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider-txt h1{
        font-size: 50px;
    }
    .slider-txt p{
        font-size: 16px;
    }
    .btn-1{
        padding: 10px 25px;
        font-size: 14px;
    }
    .slider-img{
        width: 100%;
        text-align: center;
    }
    .slider-img img{
        margin-right: 0px;
        width: 100%;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swipper-pagination-custom,
    .swiper-pagination-fraction{
        bottom: -7px;
    }
    .btn-1{
        font-size: 16px;
    }
    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .links h4{
        margin: 25px 0px 10px 0px;
    }
}