@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    background-image: url(imagenes/logo1.jpg);
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    display: grid;
    min-height: 97vh;
    grid-template-rows: auto 1fr auto;
}
.logo{
    margin: auto 0 0 0 ;
}
.logo img{
    max-width: 100px;
    height: auto;
    margin-left: 50px;
}
.menu-2 h2{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 50px;   
}
.menu-2{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center; 
    color:#FFF;
}

.socials{
    text-align: center;
    justify-content: center;
    display: flex;
    max-width:50px;
    max-height:50px;
}
.social{
    width: 70px;
    height: 70px;
    border-radius:50px;
    color:#FFF;
    justify-content: center;
    text-align:center;
    font-size:50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    transition: all 500ms ease;
    margin: 10px 20px 0 0;
}
.btn-wsp .social{

    background: #25d366;
}
.btn-wsp .social:hover{
    background: #20ba5a;
}
.btn-mail .social{
    background: #d33c25;
}
.btn-mail .social:hover{
    background: linear-gradient(to right,#4285F4,#34A853,#FBBC05);;
}
.btn-ig .social{
    background: #833ab4;
    background: linear-gradient(to right,#833ab4,#fd1d1d,#fcb045);
}
.btn-ig .social:hover{
    background: #833ab4;
    background: linear-gradient(to left,#833ab4,#fd1d1d,#fcb045);
}

.footer{
    color: azure;
    max-width: 100%;
    text-align: center;
}

.footer li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
    font-size: 16px;
}



@media(max-width: 901px){
    body{
        background-size: cover;
    }
    .logo{
        text-align: center;
    }
    .logo img{
        margin-left: auto;
    }
    .footer li{
        list-style-type: none;
        display: list-item;
        font-size: 16px;
    }
    .social{
        width: 30px;
        height: 30px;
        font-size:25px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .menu-2 h2{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
        margin-right: 10px;
        font-size: initial;   
    }
}